{{ define "layout" }}
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>
{{ if eq .CurrentPage "index" }}
	{{ .Cfg.Title }}
	{{ if .Cfg.SubTitle }}
	- {{ .Cfg.SubTitle }}
	{{ end }}
{{ else if eq .CurrentPage "post" }}

{{ end }}
</title>
{{ template "head" .}}
</head>
<body>
<div id="container">
    <div id="wrap">
		{{ template "header" .}}
        <div class="outer">
			<section id="main">
			{{ if eq .CurrentPage "index"}}
				{{ range $post := .Posts }}
				{{ template "article" . }}
				{{ end }}

				{{ if gt .PageNav.PageCount 0 }}
                    <nav id="page-nav">
					{{ $currentPageIndex := .CurrentPageIndex }}
					{{ if gt .PageNav.PageCount $currentPageIndex }}
                        <a class="extend next" rel="next" href="">Next »</a>
					{{ end }}
                    </nav>
				{{ end }}
			{{ end }}
			</section>
		</div>
		{{ template "footer" . }}
	</div>
</div>
</body>
</html>
{{ end }}