{{ define "layout" }}
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>
{{ if eq .CurrentPage "index" }}
	{{ .Cfg.Title }}
	{{ if .Cfg.SubTitle }}
	- {{ .Cfg.SubTitle }}
	{{ end }}
{{ else if eq .CurrentPage "post" }}

{{ end }}
</title>
{{ template "head" .}}
</head>
<body>
<div id="container">
    <div id="wrap">
		{{ template "header" .}}
        <div class="outer">
			<section id="main">
			{{ if eq .CurrentPage "index"}}
				{{ range $post := .Posts }}
				{{ template "article" . }}
				{{ end }}

				{{ if gt .PageNav.PageCount 0 }}
                    <nav id="page-nav">
					{{ $currentPageIndex := .CurrentPageIndex }}
					{{ $NextPageIndex := .NextPageIndex }}
					{{ $PrevPageIndex := .PrevPageIndex }}
					{{ $PaginationDir := .Cfg.PaginationDir }}
					{{ if gt $currentPageIndex 1 }}
                        <a class="extend prev" rel="prev" href="/{{ $PaginationDir }}/{{ $PrevPageIndex }}/">« Prev</a>
					{{ end }}

					{{range $i := .PageNav.PageSlice }}
					{{ if eq $i 1 }}
                        <a class="page-number" href="/">{{ $i }}</a>
					{{ else if eq $i $currentPageIndex }}
                        <span class="page-number current">{{ $i }}</span>
					{{ else }}
                        <a class="page-number" href="/{{ $PaginationDir }}/{{ $i }}/">{{ $i }}</a>
					{{ end }}
					{{ end }}

					{{ if gt .PageNav.PageCount $currentPageIndex }}
                        <a class="extend next" rel="next" href="/{{ $PaginationDir }}/{{ $NextPageIndex }}/">Next »</a>
					{{ end }}
                    </nav>
				{{ end }}
			{{ end }}
			</section>
			{{ if .ThemeCfg.Sidebar }}
			{{ template "sidebar" . }}
			{{ end }}
		</div>
		{{ template "footer" . }}
	</div>
</div>
</body>
</html>
{{ end }}