{{ define "tag" }}
    {{ if gt (len . ) 0 }}
                <div class="widget-wrap">
                    <h3 class="widget-title">Tags</h3>
                    <div class="widget">
                        <ul class="category-list">
                        {{ range $tag, $count := . }}
                            <li class="category-list-item">
                                <a class="category-list-link" href="/tag/{{ $tag }}/">{{ $tag }}</a>
                                <span class="category-list-count">({{ $count }})</span>
                            </li>
                        {{ end }}
                        </ul>
                    </div>
                </div>
    {{ end }}
{{ end }}