{{ define "archive-post" }}
                <article class="archive-article archive-type-post">
                    <div class="archive-article-inner">
                        <header class="archive-article-header">
                            <a href="{{ .Permalink }}" class="archive-article-date">
                                <time itemprop="datePublished">{{ .Date }}</time>
                            </a>
                            <h1 itemprop="name">
                                <a class="archive-article-title" href="{{ .Permalink }}">{{ .Title }}</a>
                            </h1>
                        </header>
                    </div>
                </article>
{{end}}