{{ define "article" }}
                <article id="{{ .ID }}" class="article" itemscope itemprop="blogPost">
                  <div class="article-meta">
                    <a href="{{ .Permalink }}" class="article-date">
                      <time itemprop="datePublished">{{ .Date }}</time>
                    </a>
                    <div class="article-category">
                      <a class="article-category-link" href="/categories/{{ .Category }}">{{ .Category }}</a>
                    </div>
                  </div>
                  <div class="article-inner">
                    <header class="article-header">
                      <h1 itemprop="name">
                        <a class="article-title" href="{{ .Permalink }}">{{ .Title }}</a>
                      </h1>
                    </header>
                    <div class="article-entry" itemprop="articleBody">
                      {{ .Content }}
                    </div>
                    <footer class="article-footer">
                      <a href="{{ .Permalink }}#comments" class="article-comment-link">Comments</a>
                      {{ if gt (len .Tags ) 0 }}
                        <ul class="article-tag-list">
                        {{ range $tag := .Tags}}
                          <li class="article-tag-list-item">
                            <a class="article-tag-list-link" href="/tags/{{ $tag }}">{{ $tag }}</a>
                          </li>
                        {{ end }}
                        </ul>
                      {{ end }}
                    </footer>
                  </div>
                  <nav id="article-nav">
                    {{ if .PostNav.Next.Title }}
                    <a href="{{ .PostNav.Next.Link }}" id="article-nav-newer" class="article-nav-link-wrap">
                      <strong class="article-nav-caption">Newer</strong>
                      <div class="article-nav-title">
                      {{ .PostNav.Next.Title }}
                      </div>
                    </a>
                    {{ end }}

                    {{ if .PostNav.Prev.Title }}
                    <a href="{{ .PostNav.Prev.Link }}" id="article-nav-older" class="article-nav-link-wrap">
                      <strong class="article-nav-caption">Older</strong>
                      <div class="article-nav-title">
                      {{ .PostNav.Prev.Title }}
                      </div>
                    </a>
                    {{end}}
                  </nav>
                </article>
{{ end }}