{{define "head"}}
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link href="{{ .Cfg.Root }}css/style.css" rel="stylesheet" type="text/css">
<meta property="og:type" content="website">
<meta property="og:title" content="{{ .Cfg.Title }}">
<meta property="og:url" content="{{ .Cfg.URL }}">
<meta property="og:site_name" content="{{ .Cfg.Title }}">
<meta property="og:description" content="{{ .Cfg.Description }}">
<link rel="icon" href="{{ .Cfg.Root }}{{ .Cfg.ThemeCfg.Favicon }}">
{{end}}