{{ define "sidebar-category" }}
    {{ if gt (len .Categories ) 0 }}
                <div class="widget-wrap">
                    <h3 class="widget-title">Categories</h3>
                    <div class="widget">
                        <ul class="category-list">
                        {{ $CategoryDir := .Cfg.CategoryDir }}
                        {{ range $cate, $count := .Categories }}
                            <li class="category-list-item">
                                <a class="category-list-link" href="/{{ $CategoryDir }}/{{ $cate }}/">{{ $cate }}</a>
                                <span class="category-list-count">{{ $count }}</span>
                            </li>
                        {{ end }}
                        </ul>
                    </div>
                </div>
    {{ end }}
{{ end }}